
		.browser
		{
			width: 1000px;
			height: 1000px;
			background-color: lightgrey;
			
		}
		
		#body{
			
			background-color: lightgrey;
		}
		
		
		
		#forzenFood
		{
				position: absolute;
				visibility: hidden;
				left: 7px;
				top: 250px;
				margin: 0px;
				padding: 0px;
				width: 750px;
		}
		
		#freshFood{
			
				position: absolute;
				visibility: hidden;
				left: 7px;
				top: 250px;
				margin: 0px;
				padding: 0px;
				width: 750px;
		}
		
		#homeHealth{
			
				position: absolute;
				visibility: hidden;
				left: 7px;
				top: 250px;
				margin: 0px;
				padding: 0px;
				width: 750px;
		}
		
		#beverages{
			
				position: absolute;
				visibility: hidden;
				left: 7px;
				top: 250px;
				margin: 0px;
				padding: 0px;
				width: 750px;
		}
		
		#petFood{
			
				position: absolute;
				visibility: hidden;
				left: 7px;
				top: 250px;
				margin: 0px;
				padding: 0px;
				width: 750px;
		}
	
	
